{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<h2>History</h2>
<div class="section">
    <table>
        <thead>
            <tr>
                <th>Type</th>
                <th>Symbol</th>
                <th>Number of Shares</th>
                <th>Shares-Time Price</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
                {% for row in transactions %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
